body {
  /*background: #000 no-repeat fixed;*/
  display: block;
  min-height: 100vh;
  flex-direction: column;
}
main {
    flex: 1 0 auto;
}
blockquote{
  line-height:1.2em;
  height:6em;
  overflow:hidden;
}
.bold-text{
  font-weight: bolder;
}
.mood {
  margin: 20px 5px 15px 5px;
}
.h5-text-main {
  padding: 35px 0 10px 0;
}
#actorCollection {

}
.brand-logo {
  margin-left: 25px;
}

footer.page-footer {
  z-index: 1;
  margin-top: 0;
  padding-top: 0;
}
#moreMovie {
  font-size: 14px;
  left: 85%;
  bottom: 25px;
}

#moreMovie i {
  margin-right: 0;
  font-size: 2rem;
  color: #bf5d60;
  margin-left: 10px;
}

/*.video-bgr-fixed {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size:cover;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.95
}*/
/*video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: ;
  background-size:cover;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  opacity: 0.95
}*/
